<form action="/payment/results">
  <label for="apr">
    APR
  </label>
  <input id="apr" name="user_apr" type="text" placeholder="E.g. 5.42">
  <label for="n_years">
    Number of years
  </label>
  <input id="n_years" name="user_years" type="text" placeholder="How many years to repay?">
  <label for="principal">
    Principal
  </label>
  <input id="principal" name="user_principal" type="text" placeholder="How much principal?">
  <button>
    Calculate monthly payment
  </button>
</form>
