<h1>Payment Results</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @apr.to_s(:percentage, {:precision => 4}) %>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%= @n_years.to_i.to_s %>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%= @pv.to_s(:currency, {:delimiter => ",", :precision => 2}) %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= @payment.to_s(:currency, {:delimiter => ",", :precision => 2}) %>
  </dd>

</dl>

<a href="/payment/new">Calculate another payment</a>
